<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta charset="utf-8">
  {% block head %}
  <link rel="stylesheet" href="{{ doc_dir }}/style.css" />
  <title>{% block title %}{% endblock title %} - add-license-rs</title>
  {% endblock head %}
</head>

<body class="container w-screen h-screen">
  <div class="flex flex-column">
    <div class="sidebar flex-none">
      {% include "sidebar.html" %}
    </div>
    <div class="content p-3 flex-auto">
      {% block content %}{% endblock content %}
    </div>
  </div>
</body>

</html>