{% extends "base.html" %}

{% block title %}
Licenses
{% endblock %}

{% block content %}
<div class="title flex justify-center items-center mb-2">
  <h1 class="text-4xl text-bold">Licenses</h1>
</div>

{% for l in licenses %}
<a href="{{ doc_dir }}/licenses/{{ l.spdx_id }}.html">
  <div class="card w-full bg-base-200 mb-1">
    <div class="card-body">
      <h2 class="card-title">{{ l.title }}</h2>
      <p>{{ l.description }}</p>
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}