{% extends "base.html" %}

{% block title %}
{{ license.spdx_id }}
{% endblock %}

{% block content %}
{% set title = license.title %}
{% set description = license.description %}
{% set permissions = license.permissions %}
{% set permissions_length = permissions | safe | length %}
{% set limitations = license.limitations %}
{% set limitations_length = limitations | safe | length %}
{% set conditions = license.conditions %}
{% set conditions_length = conditions | safe | length %}

<div class="license p-1">
  <div class="title flex justify-center items-center mb-2">
    <h1 class="text-4xl text-bold">{{ title }}</h1>
  </div>
  <div class="card w-full bg-base-200 mb-2">
    <div class="card-body">
      <h2 class="card-title">Description</h2>
      <p class="mb-1">{{ description }}</p>
    </div>
  </div>
  {% if permissions_length > 0 %}
  <div class="card w-full bg-base-200 mb-1">
    <div class="card-body">
      <h2 class="card-title">Permissions</h2>
      <ul class="list-disc list-inside pl-5">
        {% for p in permissions %}
        <li>{{ p }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if limitations_length > 0 %}
  <div class="card w-full bg-base-200 mb-1">
    <div class="card-body">
      <h2 class="card-title">Limitations</h2>
      <ul class="list-disc list-inside pl-5">
        {% for l in limitations %}
        <li>{{ l }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if conditions_length > 0 %}
  <div class="card w-full bg-base-200 mb-1">
    <div class="card-body">
      <h2 class="card-title">Conditions</h2>
      <ul class="list-disc list-inside pl-5">
        {% for c in conditions %}
        <li>{{ c }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}