<div class="menu w-60 overflow-auto p-2 rounded-box">
  <h1 class="text-xl text-semibold"><a href="{{ doc_dir }}/index.html">Licenses</a></h1>
  <ul>
    {% for l in licenses %}
    <li class="mb-1 block"><a href="{{ doc_dir }}/licenses/{{ l.spdx_id }}.html">{{ l.spdx_id }}</a></li>
    {% endfor %}
  </ul>
</div>