@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #ddd;
	--sidebar-background-color: #505050;
	--sidebar-background-color-hover: #676767;
	--scrollbar-track-background-color: #717171;
	--scrollbar-thumb-background-color: rgba(32,34,37,.6);
	--scrollbar-color: rgba(32,34,37,.6) #5a5a5a;
}

.sidebar {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color);
  background-color: var(--sidebar-background-color);
  color: var(--main-color);
}

.sidebar li a {
  color: #fdbf35;
}

.sidebar li a:hover {
  display: block;
  background-color: var(--sidebar-background-color-hover);
}

body {
  color: var(--main-color);
}

* {
	scrollbar-width: initial;
	scrollbar-color: var(--scrollbar-color);
}
